@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: transparent;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* 确保所有文字和元素可以居中 */
* {
  text-align: unset;
}
